@import "base/_base.scss";
@import "utilities/_utilities.scss";
@import "components/_components.scss";
@import "_plugins.scss";


/*
    Fonts
*/
.red-hat-text-<uniquifier> {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.brygada-1918-<uniquifier> {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/*
    Core site layouts    
*/
.site {
    &-header {
        @apply bg-primary dark:bg-secondary-dark text-white dark:text-white;

        > div {
            @apply flex items-stretch py-0;
        }

        &__logo {
            @apply p-3 lg:p-5 content-center block hover:bg-primary dark:hover:bg-primary-dark hover:brightness-[110%] active:brightness-[80%] dark:hover:brightness-[110%] dark:active:brightness-[80%];
        }
    }

    &-main {
        @apply my-24;

        &--homepage {
            @apply mt-0;
        }
    }

    &-aside {

    }

    &-footer {
        @apply text-sm bg-secondary dark:bg-secondary-dark text-center;

        a {
            @apply !no-underline hover:!underline;
        }

        &, a {
            @apply !text-[#8e8e8e] dark:!text-[#8e8e8e];
        }
    }
}


